<div ng-include="'client/partials/nav.html'"></div>

<div>
  <h1>Selected Cheese with related wine(s)</h1>
  
  <!-- <div ng-repeat="cheesePair in cheesePairArr">
      <div>
        <h3>{{cheesePair.name}}</h3>
        <h3>{{cheesePair.type}}</h3>
        <h3>{{cheesePair.flavorProfile}}</h3>
        <img ng-src="{{cheesePair.image}}">
      </div>
    </div> -->

  <h3>{{cheesePair.data.name}}</h3>
  <h3>{{cheesePair.data.type}}</h3>
  <h3>{{cheesePair.data.flavorProfile}}</h3>
  <img ng-src="{{cheesePair.data.image}}">

  <div ng-repeat="wine in cheesePair.data.Wines">
    <h3>{{wine.name}}</h3>
    <h3>{{wine.type}}</h3>
    <h3>{{wine.flavorProfile}}</h3>
    <img ng-src="{{wine.image}}">
    <!-- the button below needs to save pair to favorites -->
    <button>Save Pair</button>
  </div>

  <!-- on cheese pair i cannot get  -->
  <!-- at lunch i am stopping angularJS and moving onto token based auth & *hopefully* starting my 
  join on a join... favorites table will need userID & pairID -->

</div>