<div ng-include="'client/partials/nav.html'"></div>

<div>
  <h1 class="fancyFont">all cheeses?</h1>
  
<!-- search button -->
  <div class="input-group ">
    <input type="text" class="form-control input-lg font" placeholder="Search for cheese..." ng-model="search"/>
  </div>

<!-- need to put these into cards -->
  <div class="container containerStyle">
    <div class="row">
        <div ng-repeat="cheese in cheeseArr | filter:search">
          <div class="col-md-4">
            <h3>{{cheese.name}}</h3>
            <img ng-src="{{cheese.image}}" class ="img-responsive img-thumbnail cheeseSize center-block" alt="Responsive image">
            <h4 class="center-block">{{cheese.type}}</h4>
            <h4>{{cheese.flavorProfile}}</h4>
          
            <button class="btn btn-default center-block" ng-click="getCheesePair(cheese.id)">view all pairs</button>
          </div>
        </div>
    </div>
  </div>

  
</div>