<div ng-include="'client/partials/nav.html'"></div>

<div>
  <h1 class="fancyFont">all cheeses?</h1>
  
<!-- search button -->
  <div class="search">
    <div class="input-group">
      <input type="text" class="form-control input-lg font" placeholder="Search for cheese..." ng-model="search"/>
    </div>
  </div>

<!-- need to put these into cards -->
  <div class="containerStyle">
    <div class="row">
        <div ng-repeat="cheese in cheeseArr | filter:search">
          <div class="cheeseCard">
            <div class="col-md-6">
              <h3>{{cheese.name}}</h3>
              <input class="btnColor" ng-click= "getSpokenCheeseName(cheese.name)" type='button' value='🔊 Play'>
              <img ng-src="{{cheese.image}}" class =" cheeseSize">
              <h4 class="center-block">{{cheese.type}}</h4>
              <h4>{{cheese.flavorProfile}}</h4>
              <button class="btn btn-default center-block btnColor" ng-click="getCheesePair(cheese.id)">view all pairs</button>
            </div>
          </div>
        </div>
    </div>
  </div>

  
</div>