<div ng-include="'client/partials/nav.html'"></div>
<div>
  <h1>Pocket Sommelier</h1>

  <div>
    <h3>{{randomPair.name}}</h3>
    <img ng-src="{{randomPair.image}}">
    
    <h3>{{randomCheese.name}}</h3>
    <img ng-src="{{randomCheese.image}}">
  </div>

  <!-- need to add a random pair button -->
  <!-- I want this button to run getRandomPairData on click -->
  <button ng-click="getRandomPairData()">Random Pair</button>


  <!-- view details on this pair -->
  <button ng-click="getPairDetails(pairDetails.id)">Pair Details</button>

</div>