<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Pocket Sommelier</a>
    </div>
    
    
 
 <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- the below is placeholder for login -->
        <!-- <li ><a ng-href="#!/login">Login</a></li> -->
        <li ><a ng-href="#!/pairs" >Pairs</a></li>
        <li ><a ng-href="#!/cheese">Cheese</a></li>
        <li ><a ng-href="#!/wine">Wine</a></li>
        <!-- the below is placeholder for logout -->
        <!-- <li ng-show="isLoggedIn"><a ng-href="#!/logout" ng-click="logout()">Logout</a></li> -->
        <!-- the below is placeholder for favorites -->
        <!-- <li ng-show="isLoggedIn"><a ng-href="#!/logout" ng-click="logout()">Logout</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>