<div ng-include="'client/partials/nav.html'"></div>

<div class="backgroundImgHome">
  <div class="container containerStyle">
    <h1 class="fancyFont">{{singlePair.name}} & {{singleCheese.name}}</h1>
    <div class="row">
      <div class="col-md-6 cheeseContainer">
        <div class="picWrapper">
          <img ng-src="{{singlePair.image}}" class="wineSize">
          <h5 class="p">{{singlePair.type}}</h5>
          <p class="p">{{singlePair.flavorProfile}}</p>
        </div>
      </div>
      <div class="col-md-6 cheeseContainer">
        <div class="picWrapper">
          <img ng-src="{{singleCheese.image}}" class="cheeseImg">
          <h5 class="p">{{singleCheese.type}}</h5>
          <p class="p">{{singleCheese.flavorProfile}}</p>
        </div>
      </div>
    </div> 
  </div>
</div>
