<div ng-include="'client/partials/nav.html'"></div>

<div>
  
  <h1 class="fancyFont">Pair Details</h1>

  <div>
    <h3>{{singlePair.name}}</h3>
    <h3>{{singlePair.type}}</h3>
    <h3>{{singlePair.flavorProfile}}</h3>
    <img ng-src="{{singlePair.image}}" class="img-responsive img-thumbnail wineSize" alt="Responsive image">
    <h3>{{singleCheese.name}}</h3>
    <h3>{{singleCheese.type}}</h3>
    <h3>{{singleCheese.flavorProfile}}</h3>
    <img ng-src="{{singleCheese.image}}" class="img-responsive img-thumbnail cheeseSize" alt="Responsive image">
  </div>

</div>