<div ng-include="'client/partials/nav.html'"></div>

<div>
  <h1 class="fancyFont">all wines?</h1>
  
<!-- search button -->
  <div class="input-group">
    <span class="input-group-btn"></span>
    <input type="text" class="form-control input-lg" placeholder="Search for wine..." ng-model="search"/>
  </div>

<!-- need to put these into cards -->
  <div ng-repeat="wine in wineArr | filter:search ">
    <div>
      <h3>{{wine.name}}</h3>
      <input ng-click= "getSpokenWineName(wine.name)" type='button' value='🔊 Play'>
      <h3>{{wine.type}}</h3>
      <img ng-src="{{wine.image}}" class="img-responsive img-thumbnail wineSize" alt="Responsive image">
      <h3>{{wine.flavorProfile}}</h3>
      <!-- button goes to one cheese with wine pair(s) -->
      <!-- link to another view only -->
      <button class="btn btn-default" ng-click="getWinePair(wine.id)">view all pairs</button>
    </div>
  </div>

</div>