.backgroundImg {
  background-image: url("../client/images/goldBackground.jpg");
  background-repeat: repeat-y;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  margin-bottom: 0;
}

.navStyle, a {
  background-color: rgba(230, 201, 109, 0.815);
  color: black;
}

.navFont, h1 {
  font-family: 'Oregano', cursive;
  font-size: 25px;
  color: black;
  text-align: center;
}


.fancyFont {
  font-family: 'Oregano', cursive;
  font-size: 45px;
}

.font, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 5%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  display: flex;
  justify-content: center;
}

.containerStyle {
  background-color: #f3d98bb7;
  opacity: 0.95;
  border-radius: 4px;
  padding-bottom: 40px;
  margin-bottom: 15px;
}


.cheeseContainer {
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: solid 1px black;
  height: 500px;
}

.wineSize {
  max-width: 30%;
}

.cheeseImg {
  max-width: 70%;
}

.p {
  padding: 0 3%;
}

.playBtnCheese {
  background-color: #c39e3a;
  position: absolute;
  right: 15%;
}  

.playBtnWinePairs {
  background-color: #c39e3a;
  position: absolute;
  right: 25%;
}

.playBtnWine {
  background-color: #c39e3a;
  position: absolute;
  right: 35%;
}

.picWrapper {
  position: relative;
  text-align: center;
}

.pairsBtn {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(50%, 0);
}

.card {
  max-height: 55%;
  max-width: 100%;
  background-color:#bf99308c;
  padding-bottom: 15%;
  margin: 5%;
}
