body {
  background-color: #f0e5c4;
}

.navStyle {
  background-color: #d2b25b;
}

.navFont, h1 {
  font-family: 'Oregano', cursive;
  font-size: 25px;
  color: black;
  text-align: center;
}


.fancyFont {
  font-family: 'Oregano', cursive;
  font-size: 45px;
}

h3, h5, .font {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.containerStyle {
  background-color: #ead8a1;
  border-radius: 4px;
  padding-bottom: 40px;
  margin-bottom: 15px;
}

.containerStyles {
  background-color: #ead8a1;
  border-radius: 4px;
}

.btnColor {
  background-color: #c39e3a;
}  

.wineSize {
  width: 60%;
  height: 70%
}

.cheeseSize {
  width: 90%;
  height: 95%
}

